<div class="container">
    <div style = "text-align: center;margin:20px">

        <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </div>
  <div class="row">
<div *ngFor="let item of cours | paginate: { itemsPerPage:6,currentPage:p }" class="global col-sm-4">
<div  class="card" style="width: 90%;">
  <img class="card-img-top" src="{{item.imageCourseLink}}" alt="Card image cap">
  <div class="card-body">
    <a routerLink="/cour/{{item._id}}"><h5 class="card-title">{{item.title}}</h5></a>
    <p class="card-text">{{item.author}}</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
</div>
</div>
