.global{
  text-align: center!important;

}

.card{
  margin : 20px;
  background-color: #e9ecef;
}

.card-title{
  font-size: 105%;
}

.btn{

  font-size: 90%;
}

.card-img-top{
  width: 100%;
  height: 170px;
}
